.top-nav {
  border:1px solid #dddddd;
}

.row.top-heading {
  padding-top:50px;
  padding-bottom:20px;
}

.row.post-row {
  padding:10px 0px;
  margin-top:20px;
}

.post-article {
  padding-top:50px;
  padding-bottom:50px;
  border-bottom:1px solid #cdcdcd;
}

.right-sidebar {
  padding:10px 5px;
  background-color:#f8f8f8;
}

.text-center {
  padding-top:20px;
  padding-bottom:10px;
}

.right-sidebar.news {
  margin-top:50px;
}

